.rounded-button {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: #ffffff;
}

.rounded-transparent-textfield {
    -fx-background-radius: 25;
    -fx-background-color: #ecedf1;
    -fx-border-radius: 15;
}

.scene2_bg{
    -fx-background-color: #f5fdff;
}

.line_below_name{
    -fx-background-color: #ffffff;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 15, 0.2, 3, 3);
}
.box{
    -fx-background-radius: 25;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:vertical {
    -fx-padding: 0;
    -fx-pref-width: 17px;
}


.scroll-pane > .scroll-bar:vertical > .track {
    -fx-background-color: #ffffff;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-padding: 0;
    -fx-pref-height: 22px;
}


.scroll-pane > .scroll-bar:horizontal > .track {
    -fx-background-color: #ffffff;
}

.scroll-pane > .scroll-bar > .increment-button,
.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color: #ffffff;
    -fx-background-radius: 15;
}
.round{
    -fx-border-radius: 5;
    -fx-background-radius: 15;
}